/* UserEntry */


/* Source: https://www.bootdey.com/snippets/view/bs4-Trending-Articles */
.articles h3 {
    text-decoration: none !important;
    display: block;
    margin-bottom: 0;
    color: #555
}

.articles .item {
    padding: 20px
}

.articles .item:nth-of-type(even) {
    background: #fafafa
}

.articles .item .image {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    margin-right: 15px
}

.articles .item img {
    padding: 3px;
    border: 1px solid #28a745
}

.articles .item h3 {
    color: #555;
    font-weight: 400;
    margin-bottom: 0
}
